@model SolutionMvc2.Models.Calificación

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calificación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valoración)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoración)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Cédula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Cédula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Calificación }) |
    @Html.ActionLink("Back to List", "Index")
</p>
