@model SolutionMvc2.Models.DetalleFactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Unitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura.Id_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.Id_Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_DetalleFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
