@model SolutionMvc2.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cédula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cédula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teléfono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teléfono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
